.accordion .accordion-item .accordion-header .accordion-button .accordion-collapse .accordion-body {
    border: none;
    box-shadow: none;
}

#profile {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    object-fit: cover;
}